<div id="acn-competitor-new-update-form" *ngIf="stepIs(formStep.FORM)">
	<form [formGroup]="_newUpdateForm" (ngSubmit)="submit()">
		<div class="grid p-fluid" style="margin-top: 0px;">

			<div class="col-12 md:col-6 lg:col-4">
				<label for="active">{{ 'active' }}</label>
				<input type="checkbox" formControlName="active" inputId="active" />
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'telegramId' }}</span>
				<input type="number" pInputText formControlName="telegramId" placeholder="TelegramId">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'telegramFirstName' }}</span>
				<input type="text" pInputText formControlName="telegramFirstName" placeholder="TelegramFirstName">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'telegramLastName' }}</span>
				<input type="text" pInputText formControlName="telegramLastName" placeholder="TelegramLastName">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'username' }}</span>
				<input type="text" pInputText formControlName="username" placeholder="Username">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'password' }}</span>
				<input type="text" pInputText formControlName="password" placeholder="Password">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'idToken' }}</span>
				<input type="text" pInputText formControlName="idToken" placeholder="IdToken">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'accessToken' }}</span>
				<input type="text" pInputText formControlName="accessToken" placeholder="AccessToken">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'refreshToken' }}</span>
				<input type="text" pInputText formControlName="refreshToken" placeholder="RefreshToken">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'email' }}</span>
				<input type="text" pInputText formControlName="email" placeholder="Email">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'contextGroup' }}</span>
				<input type="text" pInputText formControlName="contextGroup" placeholder="ContextGroup">
			</div>
			<div class="col-12 md:col-6 lg:col-4">
				<span>{{ 'sQuizValutation' }}</span>
				<input type="text" pInputText formControlName="sQuizValutation" placeholder="SQuizValutation">
			</div>

			<div class="col-12 md:col-6 lg:col-3">
				<br>
				<button pButton *ngIf="!_isUpdate" type="submit" color="accent">{{ 'Crea' }}</button>
				<button pButton class="p-button-outlined"  *ngIf="_isUpdate" type="submit" color="accent">{{ 'Aggiorna' }}</button>
			</div>

		</div>
	</form>
</div>

<div *ngIf="stepIs(formStep.LOADING)" fxLayoutAlign="center">
	loading
</div>

<div *ngIf="stepIs(formStep.COMPLETE)">
	<h1 *ngIf="!_isUpdate">{{ 'competitor' }} {{ 'creato' }}</h1>
	<h1 *ngIf="_isUpdate">{{ 'competitor' }} {{ 'aggiornato' }}</h1>

	<hr>

	<acn-competitor-detail-box [competitor]="_result"></acn-competitor-detail-box>

	<div *ngIf="!_isUpdate">
		<button pButton color="primary" (click)="newCompetitor()">
			<span *ngIf="!returnToParent">{{ 'Crea nuovo' }}</span>
			<span *ngIf="returnToParent">{{ 'Modifica' }}</span>
		</button>
	</div>
</div>