<ng-container *ngIf="competitor">
	<div class="h4 ml-16">ID: <b>{{ competitor.id }}</b></div>
	<div class="h4 ml-16">username: <b>{{ competitor.username }}</b></div>
	<div class="h4 ml-16">password: <b>{{ competitor.password }}</b></div>
	<div class="h4 ml-16">telegram: <b>{{ competitor.telegram }}</b></div>
	<div class="h4 ml-16">email: <b>{{ competitor.email }}</b></div>
	<div class="h4 ml-16">group: <b>{{ competitor.group }}</b></div>
	<div class="h4 ml-16">sQuizValutation: <b>{{ competitor.sQuizValutation }}</b></div>
</ng-container>